# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/
ENV/

# Logs
*.log

# Database files
*.sqlite
*.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Pycharm specific
*.iml
.idea/

# FastAPI / Uvicorn stuff
*.pid
